<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Epubook">
        <activity
            android:name=".vista.PantallaInformacion"
            android:exported="false" />
        <activity
            android:name=".vista.CambiarContrasenia"
            android:exported="false" />
        <activity
            android:name=".vista.DatosPersonales"
            android:exported="false" />
        <activity
            android:name=".vista.PantallaExplorar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.LectorEpub"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.ArchivosEpub"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.CambiarNombre"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.CambiarUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.CambiarEmail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.PantallaAjustes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.PantallaPerfil"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.PantallaInicio"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".vista.Registrarse"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.PantallaEmpezar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vista.PlantillaDeslizar"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vista.InicioSesion"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>